*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.navbar{
    background-color: white; font-family: jaapokkiRegular; font-size: 17px; padding-left: 20px; padding-right: 20px;
}
.navbar li a:hover{
    color: orangered;

}

.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 35px; font-weight: 500; color: black;
}

.navbar li {
 list-style: none; display: inline;
}
.navbar li a{
    color: green;font-size: 18px;margin-right: 25px; font-weight: bold;
}
.navbar {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
  margin: 0;
}
.about-sec h2{
  text-align: center;
  /* color: black; */
  font-size: 30px;
}
.about-sec p{
 /* display: flex; */
 text-align: center;
}
.register-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    margin-top: -5px;
  }

  .register-section h2 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .register-section .call-now-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
  }

  .register-section .call-now-button:hover {
    background-color:orange;
  }


.centered{
color: black;
        
        
font-size: 50px;
}

  .centered {
    color: white;
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 50px; }
     
.container2{
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
/* background-color: white; */
}

.container2{
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

.vision-mission {
display: flex;
gap: 30px;
background-color: #f2f2f2;
padding: 40px;
/* border-radius: 10px; */
}

.vision,
.mission {
flex: 1;
}


.mission h2 {
font-size: 24px;
color: #333;
font-weight: bold;
margin-bottom: 15px;
}

.vision,.mission, p,
ul {
font-size: 16px;
color: #333;
line-height: 1.6;
}

.mission ul {
padding-left: 20px;
}

 ul li {
margin-bottom: 10px;
}
/* .container1{
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
} */

.container1 {
max-width: 1200px;
margin: 0 auto;
/* padding: 20px; */
}

.who-we-are {
background-color: #f2f2f2;
padding: 40px;
/* border-radius: 10px; */
text-align: center;
line-height: 1.8;
color: #555;
}

h2 {
font-size: 24px;
font-weight: bold;
color: #333;
margin-bottom: 20px;
}

p {
font-size: 16px;
margin-bottom: 15px;
}

.abt-img{
filter: opacity(5px);
width: 100%; 
opacity: 1.5;
background-size: cover;
/* /* filter: grayscale(.5); */
}
.footer-main{

    height: 500px;
    width: 100%;
    background-color: #333;
  }

  .footer-top{
    height: 200px;
    width: 100%;
    background-color: rgb(46, 46, 46);;
    display: flex;
    gap: 10px;
  }

  .foot-icon{
    height: 200px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);;
    color: #f1f1f1;
  }

  .foot-middle{
    height: 300px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
  }
  .ft-mid{
    height: 300px;
    width: 33%;
    color: white;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
  }
  
  .social-icon{
    align-items: center;
  }
.icon-main{
  height: 150px;
  width: 100%;
  background-color: #333;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 15px;
 align-items: end;
 
}
.phn a:hover{
  
  color: black;
}
.phn a{
  color: green;
}
.vl{
  align-items: center;
  line-height: 40px;
  color: rgb(235, 204, 247);
}
  .directors h1{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.team-container {
  /* display: grid; */
  gap: 30px;
  padding: 40px;
   display: flex;
   justify-content: center;
   /* width: 100%; */
  margin: 10px;
 
}
.team-member {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.adress{
  background-color: blue;
}
#number-display {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background:#333;
  /* padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}
/* .team-member h3 p{
  margin-top: 30px;

} */
 .Quick-li li a:hover{
  background-color: green;
 }
 