*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.navbar{
    background-color: white; font-family: jaapokkiRegular; font-size: 17px; padding-left: 20px; padding-right: 20px;
}
.navbar li a:hover{
    color: orangered;

}

.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 35px; font-weight: 500; color: black;
}

.navbar li {
 list-style: none; display: inline;
}
.navbar li a{
    color: green;font-size: 18px;margin-right: 25px; font-weight: bold;
}
.navbar {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
}
.centered {
  color: white;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 50px; }
   
.products-section{
    gap: 30px;
  /* padding: 20px; */
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   width: 100%;
  margin: 0 auto;
}
/* .product-card{
 mar
} */
/* .h3{
  margin-top: 30px;
  margin-bottom: 30px;
} */
.products-container{
    text-align: center;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* padding-top: 10px; */
  gap: 30px;
}
.buy-section{
    gap: 30px;
  /* padding: 20px; */
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   width: 100%;
  margin: 0 auto;
}
.buy-container{
    text-align: center;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* padding-top: 10px; */
  gap: 30px;
}
.buy-section .call-now-button {
    /* padding: 10px 20px; */
    background-color: green;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
  }
 
  .register-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
  }

  .register-section h2 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .register-section .call-now-button {
    /* padding: 10px 20px; */
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0px;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
  }
  .register-section .call-now-button:hover{
background-color: orangered; 
  }

  
  

  .footer-main{

    height: 500px;
    width: 100%;
    background-color: #333;
  }

  .footer-top{
    height: 200px;
    width: 100%;
    background-color: rgb(46, 46, 46);;
    display: flex;
    gap: 10px;
  }

  .foot-icon{
    height: 200px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);;
    color: #f1f1f1;
  }

  .foot-middle{
    height: 300px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
  }
  .ft-mid{
    height: 300px;
    width: 33%;
    color: white;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .social-icon{
    align-items: center;
  }
.icon-main{
  height: 100px;
  width: 100%;
  background-color: #333;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 15px;
 align-items: end;
 
}
.phn a:hover{
  
  color: black;

}
.phn a{ 
  color: green;
}
.buy-now-button{
  width: 20%;
  height: 40px;
  background-color: #4CAF50;
}
.buy-now-button:hover{
  background-color: orange;
}

  /* .call-now-button:hover{
    background-color: orange;
  } */
  .list li a:hover{
    background-color: green;
  }